
.introText
{
  position: absolute;
  top: 240px;
  left: 20%;
  height: 100px;

}

.buttonContainer
{
  position: absolute;
  border: solid 2px black;
  top: 350px;
  right: 30%;
  width: 50%;
  height: 250px;
}

.button
{
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 8px;
}

#getFitButton
{
  position: absolute;
  left: 10px;
  width: 200px;

}
#skillsButton
{
  position: absolute;
  left: 120px;
  width: 200px;

}
#newPeopleButton
{
  position: absolute;
  left: 350px;
  width: 200px;
}
